ion-content {
  --ion-background-color: #ffffff;
}

.citi-logo-header {
  width: 30%;
  height: 30%;
}

.header-text {
  color: grey;
}

.header-margin {
  margin-top: 80px;
}

.citi-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan-button {
  width: 100%;
}
