<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>{{encodedQR}}</p>
  <p>Scanned DATA : {{scannedData}}</p>
  <ion-button (click)="generateQR()">Generate QR</ion-button>

  <ion-button color="primary" (click)="scanBar()"> Scan Code </ion-button>
</ion-content> -->

<ion-content>
  <ion-grid>
    <ion-row class="citi-header header-margin">
      <ion-img
        class="citi-logo-header"
        src="assets/images/citi_blue-logo.png"
      ></ion-img>
    </ion-row>
    <ion-row class="citi-header">
      <p class="header-text">Scan</p>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-button class="scan-button" color="primary" (click)="scanBar()">
          Scan Code
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
