<ion-content>
  <ion-grid>
    <ion-row class="citi-header header-margin">
      <ion-img
        class="citi-logo-header"
        src="assets/images/citi_blue-logo.png"
      ></ion-img>
    </ion-row>
    <ion-row class="citi-header">
      <p class="header-text">Vouchers</p>
    </ion-row>
    <ion-row>
      <h2>Vouchers Count</h2>
    </ion-row>
    <ion-grid>
      <ion-row *ngFor="let voucher of vouchers; let i = index">
        <ion-card
          [ngClass]="{'voucher-blue': i % 2 === 0, 'voucher-white' : i % 2 !== 0}"
          button
          class="voucher voucher-blue"
        >
          <ion-card-title>{{voucher.voucherName}}</ion-card-title>
          <ion-card-subtitle>
            No. Redeemed: <span>{{voucher.totalCount}}</span> &nbsp;&nbsp;&nbsp;
            No. Remaining: <span>{{voucher.totalRemaining}}</span>
          </ion-card-subtitle>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
