<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-img src="assets/images/citi_blue-logo.png"></ion-img>
        <ion-button
          shape="round"
          class="cashier-button"
          style="margin-top: 50%"
          expand="full"
          >cashier</ion-button
        >
        <ion-button
          class="user-button"
          shape="round"
          style="margin-top: 10%"
          expand="full"
          >user</ion-button
        >
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
