<ion-header>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-section">
    <ion-row class="center-content">
      <ion-col></ion-col>
      <ion-col>
        <p style="font-weight: bold; font-size: larger">Profile</p>
      </ion-col>
      <ion-col>
        <ion-button shape="round" class="logout-button">Logout</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="center-content">
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
    </ion-row>
  </div>
  <div class="recent-trans-section">
    <ion-row style="padding-top: 100px">
      <h2>Recent Transactions</h2>
    </ion-row>
    <div>
      <ion-row>
        <ion-col size="12" *ngFor="let trans of transactionList; let i = index">
          <ion-card
            [ngClass]="{'card-blue': i % 2 === 0, 'card-white': i % 2 !== 0}"
          >
            <ion-card-content>
              <ion-img
                class="card-trans-img"
                src="assets/images/merchant-fila.png"
              ></ion-img>
              <div style="margin-top: 10px">
                <p
                  [ngClass]="{'card-blue-trans-text': i % 2 === 0, 'card-white-trans-text': i % 2 !== 0}"
                >
                  {{trans.voucherName}}
                </p>
                <br />
                <p
                  [ngClass]="{'card-blue-trans-text': i % 2 === 0, 'card-white-trans-text': i % 2 !== 0}"
                >
                  Redeemed:
                </p>
                <p
                  [ngClass]="{'card-blue-trans-text': i % 2 === 0, 'card-white-trans-text': i % 2 !== 0}"
                >
                  {{trans.redemptionLocation}}, {{trans.redemptionDate}}
                </p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
