<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Merchants </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Merchants</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-item>
    <ion-label>
      <ion-img
        width="40"
        height="40"
        src="assets/images/lazada-icon.jpg"
      ></ion-img>
    </ion-label>
  </ion-item>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
