<ion-header>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="citi-header header-margin">
      <ion-img
        class="citi-logo-header"
        src="assets/images/citi_blue-logo.png"
      ></ion-img>
      <ion-card>
        <ion-card-title>100</ion-card-title>
        <ion-card-subtitle>Points</ion-card-subtitle>
      </ion-card>
    </ion-row>
    <ion-row class="citi-header">
      <p class="header-text">Purchase</p>
    </ion-row>
    <ion-row>
      <h2>Vouchers for Purchase</h2>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card-voucher">
          <ion-row>
            <ion-col size="4" class="citi-header">
              <ion-img class="card-img" src="../../assets/"> </ion-img>
            </ion-col>
            <ion-col size="8">
              <p class="voucher-card-text">Name</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
