<ion-header> </ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <p class="voucher-title">National Day 15% Off</p>
      <p class="voucher-price">Price: $36.00</p>
      <p class="voucher-description">
        Enjoy 15% off all items at any Fila outlets!
      </p>
      <p class="voucher-instructions">Purchase Voucher?</p>
      <p class="points-earned">Earn Points: 20</p>
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="3">
            <ion-button color="light">Cancel</ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="3">
            <ion-button color="success">Confirm</ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
