<ion-header>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="citi-header header-margin">
      <ion-img
        class="citi-logo-header"
        src="assets/images/citi_blue-logo.png"
      ></ion-img>
    </ion-row>
    <ion-row class="citi-header">
      <p class="header-text">Fila</p>
    </ion-row>
    <ion-row class="vertical-align-content">
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-img src="assets/images/merchant-fila.png"></ion-img>
      </ion-col>
      <ion-col size="6"
        ><p class="merchant-details">
          Fila was created in Biella, Italy, by the Fila brothers in 1909.
        </p></ion-col
      >
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row>
      <ion-slides
        [options]="{ slidesPerView: '3', zoom: true, grabCursor: true }"
      >
        <ion-slide
          *ngFor="let location of locationCards"
          class="location-slider"
        >
          <ion-card class="card-blue location-card">
            <ion-img src="{{location.imgUrl}}"></ion-img>
            <p class="location-card-text">{{location.title}}</p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <hr />

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="7" style="background-color: #004685"
        ><p class="vouchers-header-text">Vouchers</p></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let vouch of voucherCards">
        <ion-card class="card-voucher" (click)="presentModal()">
          <ion-row>
            <ion-col size="4" class="citi-header">
              <ion-img class="card-img" src="{{pictureUrl}}"> </ion-img>
            </ion-col>
            <ion-col size="8">
              <p class="voucher-card-text">{{vouch.title}}</p>
              <p class="voucher-card-expiry">
                {{vouch.points}} points <br />
                Expires {{vouch.expiryDate}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
