<ion-header>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="citi-header header-margin">
      <ion-img
        class="citi-logo-header"
        src="assets/images/citi_blue-logo.png"
      ></ion-img>
    </ion-row>
    <ion-row class="citi-header">
      <p class="header-text">Merchants</p>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-row class="searchbar">
          <ion-searchbar placeholder="Search Merchant"></ion-searchbar>
        </ion-row>
        <ion-row></ion-row>
        <ion-row>
          <ion-button class="merchant">
            <ion-img
              class="merchant-logo"
              src="../../assets/images/spao-logo.png"
            ></ion-img>
          </ion-button>
          <ion-button class="merchant">
            <ion-img
              class="merchant-logo"
              src="../../assets/images/mango-logo.png"
            ></ion-img>
          </ion-button>
          <ion-button class="merchant">
            <ion-img
              class="merchant-logo"
              src="../../assets/images/fila-logo.png"
            ></ion-img>
          </ion-button>
          <ion-button class="merchant">
            <ion-img
              class="merchant-logo"
              src="../../assets/images/love-bonito-logo.png"
            ></ion-img>
          </ion-button>
          <ion-button class="merchant">
            <ion-img
              class="merchant-logo"
              src="../../assets/images/mango-logo.png"
            ></ion-img>
          </ion-button>
          <ion-button class="merchant">
            <ion-img
              class="merchant-logo"
              src="../../assets/images/chanel-logo.png"
            ></ion-img>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
